# // Reference:
# // https://www.better-auth.com/docs/installation

NEXT_PUBLIC_HOSTNAME=lochness.mgb.org

PG_host=zn-lochness.mgb.org
PG_user=<DB_PASSWORD>
PG_password=<DB_PASSWORD>
PG_database=lochnessdb_prod
PG_port=5432
PG_ssl=false

BETTER_AUTH_SECRET=<BETTERAUTH_SECRET>
BETTER_AUTH_URL=https://lochness.mgb.org
AUTH_INTERNAL_URL=http://127.0.0.1:3000

NEXT_PUBLIC_AIRFLOW_URL=https://lochness.mgb.org:8080
AIRFLOW_USERNAME=<AIRFLOW_USERNAME>
AIRFLOW_PASSWORD=<AIRFLOW_PASSWORD>
